.partners-container {
    background-color: #000000;
    color: white;
    padding: 40px 60px 60px;
  }
  .partners-title{
    position: relative;
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: var(--fontSizes-4xl);
    margin-bottom: 60px;
  }
  .partner-list {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
  }
  .partner-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 100px;
    background-color: #0f0f0f;
    overflow: hidden;
  }
  .partner-info:hover .partner-logo{
    transform: scale(1.15);
  }
  .partner-logo {
    display: flex;
    max-width: 150px;
    margin-right: 25px;
    border: 5px solid white;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
  }
  .partner-list li:nth-of-type(1) .partner-logo{
    box-shadow: 100px -100px 500px #737373, -100px 100px 500px #737373;
  }
  .partner-list li:nth-of-type(2) .partner-logo{
    box-shadow: 100px -100px 100px #dd8d66, -100px 50px 100px #db477c, 50px 50px 100px #2f2675;
  }
  .partner-list li:nth-of-type(3) .partner-logo{
    box-shadow: 50px -50px 500px #4297ab, -50px 50px 500px #2e8bc4;
  }
  .partner-details {
    flex-grow: 1;
    z-index: 1;
  }
  .partner-description {
    margin-bottom: 10px;
  }
  .partner-description strong{
    display: block;
    font-size: var(--fontSizes-3xl);
    margin-bottom: 5px;
  }
  .chapter-lead {
    position: relative;
    font-size: var(--fontSizes-md);
    margin-bottom: 5px;
  }
  .chapter-lead > a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .chapter-lead > a::before {
    position: absolute;
    content: '';
    background: white;
    bottom: -5px;
    width: 0;
    height: 2px;
    transition: 0.25s ease-in-out;
  }
  .chapter-lead a:hover::before {
    width: 100%
  }
  .social-media {
    display: flex;
    margin-top: 10px;
  }
  .social-icon {
    width: 24px;
    margin-right: 10px;
  }