@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Montserrat:wght@400;800&family=Poppins&family=Wix+Madefor+Display&display=swap");
:root {
  --font-title: "Montserrat", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Wix Madefor Display", sans-serif;
  --fontSizes-xs: 0.75rem;
  --fontSizes-sm: 0.875rem;
  --fontSizes-md: 1rem;
  --fontSizes-lg: 1.125rem;
  --fontSizes-xl: 1.25rem;
  --fontSizes-2xl: 1.5rem;
  --fontSizes-4xl: 2.25rem;
  --fontSizes-3xl: 1.875rem;
  --fontSizes-5xl: 3rem;
  --fontSizes-6xl: 3.75rem;
  --fontSizes-7xl: 4.5rem;
  --fontSizes-8xl: 5.75rem;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  width: 2.5px;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255);
}
*{
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
body{
  margin: 0;
  font-family: var(--font-body) !important;
}