.events-container {
    width: 100%;
    height: fit-content;
    padding: 60px;
    color: white;
    background-size: cover;
    background-position: top center;
    background-color: rgb(0, 0, 0);
    --events-container-height: 800px;
  }
  .events-container video {
    width: 100%;
    height: var(--events-container-height);
    position: absolute;
    object-fit: cover;
    margin-top: -90px;
    margin-left: -60px;
    z-index: 0;
  }
  .events-container div {
    position: relative;
    z-index: 1;
  }
  .events-title{
    position: relative;
    color: #eeeeee;
    font-size: var(--fontSizes-4xl);
    font-family: var(--font-heading);
    font-weight: bold;
  }
  .slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 550px;
    margin: 50px auto;
    --slider-event-width: 90%;
  }
  .slider-container > div{
    height: 100%;
  }
  .slider-prev, .slider-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - var(--slider-event-width))/2);
  }
  .slider-prev i, .slider-next i{
    cursor: pointer;
    font-size: var(--fontSizes-3xl);
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: rgb(240, 240, 240);
    /* border: 1px solid rgb(240, 240, 240); */
  }
  .slider-prev i:hover, .slider-next i:hover{
    background-color: rgb(240, 240, 240);
    color: #212121;
    border: none;
  }
  .slider-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--slider-event-width);
    height: 100%;
  }
  .view-event-cards::-webkit-scrollbar {
    display: none;
  }
  .view-event-cards{
    position: relative;
    display: flex;
    width: calc(100% - 100px);
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .event-card {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 25px 40px;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin: 0 25px;
    backdrop-filter: blur(2px);
    color: #ffffff;
    border-radius: 25px;
  }
  .event-card-3{
    background: radial-gradient(
      circle at 30% 50%,
      #2fe19075,
      #000000ee 50%
    );
  }
  .event-card-2{
    background: radial-gradient(
      circle at 30% 60%,
      #00b2fe90,
      #000000ee 40%
    );
  }
  .event-card-1{
    background: radial-gradient(
      circle at 25% 50%,
      #1f21a880,
      #040411ee 60%
    );
  }
  .event-thumbnail{
    display: flex;
    flex-flow: column;
    max-width: 500px;
    height: 100%;
  }
  .event-details {
    display: flex;
    flex-flow: column;
    width: -webkit-fill-available;
    height: 100%;
    padding: 25px 10px 25px 40px;
  }
  .event-details::-webkit-scrollbar {
    display: none;
  }
  .event-thumbnail img {
    height: 100%;
    object-fit: cover;
    /* border-radius: 5px 0 0 5px; */
    border-radius: 25px;
  }
  .event-details h3 {
    font-size: var(--fontSizes-4xl);
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
  }
  .event-details p{
    margin: 0px;
    margin-bottom: 10px;
    font-size: var(--fontSizes-xl);
    font-weight: bold;
  }
  .event-details p:last-of-type{
    margin-bottom: 25px;
  }
  .event-details-desc p{
    font-size: var(--fontSizes-md);
    font-weight: normal;
    margin-bottom: 10px;
  }
  .event-details-desc p:last-of-type{
    margin: 0;
  }
  .hastags {
    cursor: pointer;
    font-size: var(--fontSizes-sm);
    padding: 2.5px 10px;
    margin-right: 2.5px;
    line-height: 2.1em;
    font-style: normal;
    border-radius: 50px;;
    border: 1px solid #ffffff;
  }
  .event-card .hastags:hover{
    background-color: #ffffff;
    color: #000000;
  }
  .register-button {
    position: absolute;
    padding: 0 25px;
    height: 50px;
    width: fit-content;
    line-height: 50px;
    font-size: var(--fontSizes-lg);
    text-decoration: none;
    bottom: 25px !important;
    border-radius: 25px;
    z-index: 1;
  }
  .register-closed{
    background-color: transparent !important;
    color: #ffffff !important;
    pointer-events: none !important;
  }
  .feedback-button{
    background-color: #ffffff !important;
    color: #1f22a8 !important;
  }
  .feedback-button i{
    padding-left: 10px;
  }
  .register-button i{
    padding-left: 10px;
  }
  .event-card-1 .feedback-button:hover{
    background-color: #1f22a8 !important;
    color: #ffffff !important;
  }
  .event-card-1 .register-button{
    background-color: #1f22a8;
    color: #ffffff;
    box-shadow: 0 10px 50px #1f22a89f;
  }
  .event-card-1 .register-button:hover {
    background-color: #ffffff;
    color: #1f22a8;
  }
  
  .event-card-3 .register-button{
    background-color: #1b944a;
    color: #ffffff;
    box-shadow: 0 10px 50px #1b944a9f;
  }
  .event-card-3 .register-button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  .event-card-2 .register-button{
    /* background-color: #00b2fe; */
    background-color: #00a5eb;
    color: #ffffff;
    left: calc(72%) !important;
    box-shadow: 0 10px 50px #00a5eb9f;
  }
  .event-card-2 .register-button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  .event-card-2 .event-details{
    padding: 25px 40px 25px 0px;
  }
  .event-card-2 .event-details video {
    position: relative;
    object-fit: cover;
    object-position: center left;
    width: 72%;
    max-width: 700px;
    margin: 0;
    border-radius: 25px;
  }