.carbon-neutral-dao {
    display: flex;
    min-height: 120vh;
    width: 100%;
    color: black;
    background-color: #f7f7f5;
    background-size: 60%;
    background-position: top center;
    background-repeat: no-repeat;
    }
    .carbon-neutral-dao > div{
      display: flex;
      width: 50%;
      flex-flow: column;
      padding: 60px;
      justify-content: center;
      z-index: 1;
      overflow: hidden;
    }
    .carbon-dao-text h2 {
      position: relative;
      font-size: var(--fontSizes-4xl);
      font-family: var(--font-heading);
      margin: 0;
    }
    .carbon-dao-text p{
      font-size: var(--fontSizes-md);
      line-height: 1.5em;
    }
  .carbon-dao-text .event-1{
    border-left: 5px solid #90ba89;
    height: fit-content;
    padding-left: 20px;
    margin: 25px 0;
    margin-left: 10px;
  }
  .carbon-dao-text .event-1 h3{
    font-size: var(--fontSizes-3xl);
    margin: 10px 0 0;
  }
  .carbon-dao-text .event-1 h3::before{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:5px solid #75996f;
    background-color: #f7f7f5;
    left: calc(70px - 12.5px + 2.5px);
    margin-top: 5px;
  }
  .carbon-dao-text .event-1 h2{
    font-size: var(--fontSizes-lg);
    font-family: var(--font-body);
    /* font-weight: normal; */
    margin: 10px 0;
  }
  .carbon-dao-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .photo-stack {
    position: relative;
    display: flex;
      width:100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .photo {
    display: flex;
      position: absolute;
  }
  .img-landscape{
    width: 100%;
  }
  .img-portrait{
    width: 60%;
  }
  .photo img {
    width: 100%;
    margin: auto;
    border: 8px solid #fefefe;
    border-radius: 2.5px;
    box-shadow: 0 0 2.5px rgba(0,50,50,0.45);
    background: #FFF;
    pointer-events: all;
  }
  